<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>755794744598-bm8bf8qjp0ujhg7jh7b3pqui1fb0ug2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755794744598-bm8bf8qjp0ujhg7jh7b3pqui1fb0ug2i</string>
	<key>API_KEY</key>
	<string>AIzaSyACT7wVdIEx6NPiT6rOw0uUZd4uAi04l60</string>
	<key>GCM_SENDER_ID</key>
	<string>755794744598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bycolorandspace.mung</string>
	<key>PROJECT_ID</key>
	<string>mung-37e2c</string>
	<key>STORAGE_BUCKET</key>
	<string>mung-37e2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:755794744598:ios:a0e97ca4aad066cf</string>
	<key>DATABASE_URL</key>
	<string>https://mung-37e2c.firebaseio.com</string>
</dict>
</plist>